@{
    ViewData["Title"] = "Güvenlik Politikamız";
}
<h1>@ViewData["Title"]</h1>

<p>Kullanıcı Bilgi Bankası, kullanıcıların bilgilerini güvenli bir şekilde saklamak için modern güvenlik standartlarını kullanır.</p>
