@using mowbank.Models
@model AppRole 

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
<div class="mb-3">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name">
</div>
    <button type="submits" class="btn btn-primary">Kaydet</button>
</form>
