@{
    ViewBag.Title = "Hakkında";
}
<div class="h-[80vh] w-full p-16 flex bg-[#063120] flex-col items-center ">

    <h1 class="text-white font-bold text-3xl mt-12">Hakkında</h1>

     <p class="text-center text-gray-500 dark:text-gray-400">
      MyGardenShip'e Hoş Geldiniz!
      MyGardenShip, bahçe ve tarla ürünlerinin seyahatini izlemenin ve
      takibini yapmanın en modern ve kullanıcı dostu yolunu sunar.
      Misyonumuz, 
      sizin ve ailenizin sofralarına sağlıklı, taze ve 
      kaliteli meyve ve sebzeler ulaştırmak için teknolojiyi kullanarak 
      tarım süreçlerini daha şeffaf hale getirmektir.
      
      MyGardenShip'e hoş geldiniz,<span class="text-green-500">taze ve lezzet</span> dolu bir yolculuk sizi bekliyor!
    </p>


</div>
