@{
    ViewBag.Title = "İletişim";
}
<div class="h-[80vh] w-full p-16 flex bg-[#063120] flex-col items-center ">

    <h1 class="text-white font-bold text-3xl mt-12">İletişim</h1>

     <p class="text-center text-gray-500 dark:text-gray-400">
      Email :<span class="text-green-500">aktasesat80@gmail.com</span></p>


</div>
