@model AppUser
<div class="h-[80vh] w-full flex bg-[#063120] flex-col items-center text-white text-3xl justify-center">

    <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/img/user.png" alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">@Model.UserName</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">@Model.Email</span>
            <div class="flex mt-4 md:mt-6">
                <a asp-action="Edit" asp-controller="User" asp-route-id=@Model.Id
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Düzenle</a>
                <a asp-action="Delete" asp-controller="User" asp-route-id=@Model.Id
                    class="py-2 px-4 ms-2 text-sm font-medium text-gray-300 focus:outline-none bg-red-500 rounded-lg border border-red-400 hover:bg-red-600 focus:z-10 focus:ring-4 focus:ring-red-100 ">Hesabı
                    Sil</a>
            </div>
        </div>
    </div>
    <div></div>
</div>